

/*Title*/

#title{
	font-family: 'Ultra', serif;
	text-align: center;
	margin-bottom: 2%;
}

/*Three Boxes*/

.boxes{
	text-align: center;
}

img{
	width: 240px;
	height: 240px;
}

.boxes h3{
	font-family: 'Bentham', serif;
}

.boxes h4{
	font-family: 'Bentham', serif;
}

/*Social Media Share*/


.social{
	margin-top: 4%;
	text-align: center;
	font-family: 'Bentham', serif;
}

.social li{
	text-decoration: none;
	list-style-type: none;
	display: inline;
}


/*Musical-Instrumet Quiz*/
#musical-instrument-quiz, #broadway-quiz, #dance-quiz{
	border: 10px solid #E8ADAA;
    width: 80%;
    background-color: #E8ADAA;
    margin-top: 0%;
    text-align: center;
    margin-left: 10%;
    display:none;
}

#musical-instrument-quiz li, #broadway-quiz li, #dance-quiz li{
	list-style-type: none;
}

.question-countdown{
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
}

.question{
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
}


#new-game button {
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	width: 12%;
	background-color:  #F9B7FF;
}

.row2{
	margin-bottom: 1%;
}

.btn{
	background-color: #FAEBD7;
}


/*Musical Instrument Individual Questions*/






/*Correct Box*/

.correct-boxed {
	border: 1px solid green;
    width: 41%;
    display:none;
}

.correct-boxed h3{
	font-family: 'Righteous', cursive;
}

.correct-green{
 	border: 10px solid #4BAD21;
    width: 100%;
    background-color: #4BAD21;
    margin-top: 0%;

}

.correct-green{
	font-family: 'Righteous', cursive;
}

/*Wrong Box*/

.wrong-boxed {
	border: 1px solid green;
    width: 41%;
    display:none;
}

.wrong-boxed h3{
	font-family: 'Righteous', cursive;
}

.wrong-red{
 	border: 10px solid #E41B17;
    width: 100%;
    background-color: #E41B17;
    margin-top: 0%;
}

.wrong-red{
	font-family: 'Righteous', cursive;
}


/*Completed Box*/

.complete-boxed {
	border: 1px solid green;
    width: 41%;
    display:none;
}

.complete-boxed h3{
	font-family: 'Righteous', cursive;
}

.complete-blue{
 	border: 10px solid #1589FF;
    width: 100%;
    background-color: #1589FF;
    margin-top: 0%;
}

.complete-blue{
	font-family: 'Righteous', cursive;
}







